<!DOCTYPE html>
<html lang="en">
<% include header%>
<body style="color: #B9611F; margin-top: 30px;" ng-app="helpDeskApp">

<div class="container col-md-offset-2" style="background-image:url('images/banner1.jpg')"
     data-img-width="2300"
     data-img-height="1500" data-diff="100">

    <div class="col-md-offset-0 col-md-12">
        <div class="col-md-12 col-md-offset-9">
            <div class="head-btn wow fadeInLeft">
                <br>
                <a href="/ticket/myTickets"
                   class="btn-primary">Show Tickets</a>
            </div>
        </div>
        <div class="container col-md-5 col-md-offset-1">
            <div class="row">
                <h2>Optimize performance through advanced targeting solutions</h2>
                ​
                <p style="color: blanchedalmond">Good marketing makes the company look smart.Great marketing makes
                    the customer
                    feel smart, - Joe Chernov. Never doubt a small group of thoughtful, committed people can
                    change
                    the world. Indeed, it is the only thing that ever has, - Margaret Mead. The best way to
                    predict
                    the future is to create it...!!!
                </p>
            </div>
        </div>
        <form role="form" id="ticketForm" name="ticketForm" novalidate>

            <div class=" container col-md-5" ng-controller="ticketController">
                ​
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input ng-model="ticketEntry.subject" type="text" class="form-control"
                           id="subject"
                           placeholder="Subject" required>
                        <span style="color:red" ng-show="ticketForm.subject.$invalid && !ticketForm.subject.$pristine">
				            <span ng-show="ticketForm.subject.$invalid && !ticketForm.subject.$pristine">Subject is required.</span>
		                </span>

                </div>
                <div class="form-group ">
                    <label for="content">Ticket Content</label>
                            <textarea ng-model="ticketEntry.content" rows="12" class="form-control" cols="3"
                                      name="content" placeholder="Enter content here..." required></textarea>
                        <span style="color:red" ng-show="ticketForm.content.$invalid && !ticketForm.content.$pristine">
				            <span ng-show="ticketForm.content.$invalid && !ticketForm.content.$pristine">Content is required.</span>
		                </span>

                </div>
                <div>
                    <button ng-disabled="ticketForm.$invalid" type="submit" class="btn-primary"
                            ng-click="createTicket(ticketEntry)"
                            value="RaiseTicket">RaiseTicket
                    </button>
                </div>
            </div>
        </form>
    </div>
    <br><br>
</div>
<% include footer %>
</body>
</html>
