<!DOCTYPE html>
<html lang="en">
<% include header%>
<body ng-app="helpDeskApp">
<div class="col-md-12 col-md-offset-9" style="margin-top: 40px">
    <div class="head-btn wow fadeInLeft">
        <a href="/ticket"
           class="btn-primary">Add New Ticket</a>
    </div>
</div>
<div ng-controller="ticketsController">
    <div class="container col-md-8 col-md-offset-3 panel panel-group" ng-repeat="ticket in tickets"  id="tickets"
         style="background-image:url('../images/Black-Wood.jpg'); margin-top: 10px">
        <div class="row">
            <div class="feature-img col-md-2 slideInLeft"><br><br><br><br>
                <img src="../images/ticket-logo.png" alt="image" class="img-responsive wow fadeInLeft">
            </div>
            <div class="col-md-7 wow slideInLeft">
                Subject:<input ng-model="ticket.subject" type="text" name="subject" class="form-control input-sm" disabled/>
                Content:<textarea ng-model="ticket.content" class="form-control" cols="9" rows="3" name="content" disabled></textarea>
                Status:<div class="form-control input-sm">{{ticket.status}}</div>
                Create Date:<div class="form-control input-sm">{{ticket.createDate | dateFormat}}</div>
                Update Date:<div class="form-control input-sm">{{ticket.updateDate | dateFormat}}</div>
                <br>
            </div>
            <div class="wow slideInRight"><br><br><br><br><br><br>
                <a href="#" ng-click="delete(ticket);" class="btn-primary">Delete Ticket</a>
            </div>
        </div>
    </div>
</div>
<% include chatbox%>
<%include footer%>
</body>
</html>